.ProfileContainer {
    display: flex; /* Flexbox layout */
    align-items: center; /* Vertically center the content */
}

.UserName {
    text-align: left; /* Left align the username */
}

.ProfileImage {
    max-width: 180px;
}